<ion-view>
    <ion-content ng-controller="ConfirmationController" title="Confirmation">
        <!-- This is re-using the function defined in the results.js controller -->
        <button class="ion-chevron-left button-clear button-large" ng-click="navigateToSearch()">
            <span class="ion-home"></span>
        </button>
        <div class="list card" ng-show="hotel">
            <div class="item item-text-wrap">
                <h2>Thank you for booking with Exbedia!</h2>
                <p>Your reservation at <strong>{{ hotel.info.Name }}</strong> 
                    from <strong>{{ bookingInfo.checkInDate}}</strong> 
                    to <strong>{{ bookingInfo.checkOutDate}}</strong> is confirmed</p>
                <p>Your confirmation number is: <strong>{{ bookingID }}</strong></p>
                <!-- TODO: show price -->
            </div>
            <div class="item item-image">
                <img ng-src="{{ hotel.info.Images | defaultImageUrl }}" style="max-width: 75%"/>
            </div>

            <div class="card" ng-show="backendError && backendError.code != 200">
                <div class="item item-text-wrap item-assertive">
                    <h3>Error from the email server:</h3>
                    <p>{{backendError.message}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
