<ion-view>
    <ion-content ng-controller="DetailsController" title="Details" >
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="navigateToSearchResults()">Back</a>
        <div class="list card" ng-show="hotel">
            <div class="item item-text-wrap">
                <h2>{{ hotel.info.Name }}</h2>
                <span class="right dark">{{ hotel.distance | number : 2 }}km away</span>
            </div>

            <div class="item center" ng-show="hotel.info.Images">
                <ion-slide-box show-pager="false" does-continue="true">
                    <ion-slide ng-repeat="image in filterNullImages(hotel.info.Images)">
                        <img ng-src="{{image.imageUrl}}" height="250" />
                    </ion-slide>
                </ion-slide-box>
                <span ng-show="filterNullImages(hotel.info.Images).length > 1">Swipe for more photos!</span>
            </div>

            <div class="item item-text-wrap">
                <h2>Star Rating</h2>
                <div ng-bind-html="showStars(hotel.info.StarRating)"></div>
                <br>

                <h2>Address</h2>
                {{ hotel.info.Address1 }}
                <br>
                {{ hotel.info.City + ", " + hotel.info.StateProvince + " " + hotel.info.PostalCode }}
                <br>
                <br>

                <h2>Rates from:</h2>
                {{hotel.info.LowRate | currency}} to {{hotel.info.HighRate | currency}}
                <br>
                <br>

                <h2>Property Description</h2>
                <!-- Description may contain HTML, so we treat it accordingly -->
                <div ng-bind-html="hotel.info.PropertyDescription"></div>
                <br>
                <br>

            <button class="button button-block button-balanced" ng-click="navigateToBooking(hotel)">Book</button>
        </div>
    </ion-content>
</ion-view>