<ion-view>
    <ion-content ng-controller="SearchController" title="Search">
        <form name="searchForm">
            <div class="list list-inset">
                <h3>Search</h3>
                <label class="item item-input" ng-hide="useCurrentLocation">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Destination, property name or landmark" g-places-autocomplete force-selection="true" options="autocompleteOptions" ng-model="googlePlaceData" />
                </label>
                <ion-checkbox ng-model="useCurrentLocation" ng-change="getLoc(useCurrentLocation)" >
                    <i class="icon ion-location"></i>
                    Use current location
                </ion-checkbox>
                <label class="item item-input" ng-show="false">
                    <input type="text" id="lat" name="lat" placeholder="Latitude" ng-model="query.lat"> 
                </label>
                <label class="item item-input" ng-show="false">
                    <input type="text" id="lon" name="lon" placeholder="Longitude" ng-model="query.lon">
                </label>
                <input type="submit" value="Explore" class="button button-block button-balanced" ng-click="formSubmit(query, useCurrentLocation, googlePlaceData)" ng-if="enableSearch">
                <input type="submit" value="Loading..." class="button button-block button-stable" ng-if="!enableSearch">
            </div>
        </form>
        <form name="bookingLookupForm">
            <div class="list list-inset">
                <h3>Booking Lookup</h3>
                <label class="item item-input">
                    <i class="icon ion-android-mail placeholder-icon"></i>
                    <input type="text" id="bookingID" name="bookingID" placeholder="Enter your confirmation number" ng-model="bookingID">
                </label>
                <input type="submit" value="Find My Booking" class="button button-block button-positive" ng-click="searchBooking(bookingID)"> 
            </div>     
        </form>
    </ion-content>
</ion-view>
