/* Empty. Add your own CSS if you like */

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
	text-align: center;
}

.header-logo {
    max-height: 30px;
    margin-top: 5px;
}

.form-title {
	color: #032749;
}

.buttom {
	position: absolute;
	bottom: 10px;
	width: 100%
}